$pole-tresorerie: #e52e99;
$pole-presidence: #a52ee5;
$pole-communication: #f5a623;
$pole-secretariat: #f8e71c;
$pole-evenementiel: #50e3c2;
$pole-local: #b8e986;
$pole-actif: #4a90e2;
$pole-implique: #d0021b;
$pole-superviseur: #9013fe;
$pole-culture: #f5a623;
$pole-pioux: #f8e71c;
$pole-prevention: #50e3c2;
$pole-suivi: #b8e986;
$pole-pls: #4a90e2;
$pole-pet: #f3d1d5;
$pole-arena: $pole-pet;

$background-color: #e09306;
$text-color: #222;
$light-text-color: #eee;
$text-color-error: #cf0000;

:root {
  --pole-tresorerie: #{$pole-tresorerie};
  --pole-presidence: #{$pole-presidence};
  --pole-communication: #{$pole-communication};
  --pole-secretariat: #{$pole-secretariat};
  --pole-evenementiel: #{$pole-evenementiel};
  --pole-local: #{$pole-local};
  --pole-actif: #{$pole-actif};
  --pole-implique: #{$pole-implique};
  --pole-superviseur: #{$pole-superviseur};
  --pole-culture: #{$pole-culture};
  --pole-pioux: #{$pole-pioux};
  --pole-prevention: #{$pole-prevention};
  --pole-suivi: #{$pole-suivi};
  --pole-pls: #{$pole-pls};
  --pole-pet: #{$pole-pet};
  --pole-arena: #{$pole-arena};
  --background-color: #{$background-color};
  --text-color: #{$text-color};
  --light-text-color: #{$light-text-color};
}
